.site-header{

background-color: #1bbc9b;
color: #ecfdf9;
height: 100vh;
font-family: monospace;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

body{

    margin: 0;
}
.profile-pic{

border-radius: 50%;
width: 200px;
height: 200px;
box-shadow: #0a8269 2px 5px 5px;



}
.course-link{

color:#ecfdf9 ;


}
.site-header-content{

margin: 10px;


}
.size
{
width: 50px;
height: 50px;
margin-left: 100px;
margin-right: 100px;



}
.socials li{
display: inline-block ;
transition: all 500ms ease;



}


   li:hover {
       
    transform: scale(1.3);

}